df = pd.DataFrame([['Math', 'en ligne', 2, False],['Data Processing','presentiel', 9, True],['Python', 'en ligne', 6, True],['SGBDR', 'en ligne', 5, False],['BD Spatiale', 'presentiel',4, False],['Rech Biblio', 'mixte', 8, True],['IA', 'presentiel', 4, True]])

    Q1 : renommer les colonnes respectivement avec les noms suivants : Module, Modal_Cours, Coeff, Valider
    Q2 : Selectioner un sous-ensemble de DF, dont les valeurs de la colonne 'Modal_Cours' sont égales à 'en ligne' et 'presentiel' (indication : utiliser la method .isin())
    Q3 : Selectioner un sous-ensemble de DF, dont les valeurs de la colonne 'Coeff' sont dans compris entre 2 et 8 (indication : methode .between()).

In [2]:
import pandas as pd
df = pd.DataFrame([['Math', 'en ligne', 2, False],['Data Processing','presentiel', 9, True],['Python', 'en ligne', 6, True],['SGBDR', 'en ligne', 5, False],['BD Spatiale', 'presentiel',4, False],['Rech Biblio', 'mixte', 8, True],['IA', 'presentiel', 4, True]])
df

                 0           1  2      3
0             Math    en ligne  2  False
1  Data Processing  presentiel  9   True
2           Python    en ligne  6   True
3            SGBDR    en ligne  5  False
4      BD Spatiale  presentiel  4  False
5      Rech Biblio       mixte  8   True
6               IA  presentiel  4   True

Q1 : renommer les colonnes respectivement avec les noms suivants : Module, Modal_Cours, Coeff, Valider

In [9]:
df.columns = ['Module', 'Modal_Cours', 'Coeff', 'Valider']
df

            Module Modal_Cours  Coeff  Valider
0             Math    en ligne      2    False
1  Data Processing  presentiel      9     True
2           Python    en ligne      6     True
3            SGBDR    en ligne      5    False
4      BD Spatiale  presentiel      4    False
5      Rech Biblio       mixte      8     True
6               IA  presentiel      4     True

Q2 : Selectioner un sous-ensemble de DF, dont les valeurs de la colonne 'Modal_Cours' sont égales à 'en ligne' et 'presentiel' (indication : utiliser la method .isin())

In [18]:
df1  = df['Modal_Cours'].isin(['presentiel','en ligne'])
df[df1]

            Module Modal_Cours  Coeff  Valider
0             Math    en ligne      2    False
1  Data Processing  presentiel      9     True
2           Python    en ligne      6     True
3            SGBDR    en ligne      5    False
4      BD Spatiale  presentiel      4    False
6               IA  presentiel      4     True

Q3 : Selectioner un sous-ensemble de DF, dont les valeurs de la colonne 'Coeff' sont dans compris entre 2 et 8 (indication : methode .between()).

In [19]:
df2= df["Coeff"].between(2, 8, inclusive = True)
df[df2]

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  """Entry point for launching an IPython kernel.

        Module Modal_Cours  Coeff  Valider
0         Math    en ligne      2    False
2       Python    en ligne      6     True
3        SGBDR    en ligne      5    False
4  BD Spatiale  presentiel      4    False
5  Rech Biblio       mixte      8     True
6           IA  presentiel      4     True

    Quel est l'avantage de passer à des données de types x (float, integer, etc.) à des données de type 'Category' ? Et sur quels types d'observations pouvons nous appliquer cette conversion (l'intuition qui peut vous amener à prendre cette décision) ?
    Soit  df = pd.DataFrame([['Math', 'en ligne', 2],['Data Processing','presentiel', 9],['Python', 'en ligne', 6], ['SGBDR', 'en ligne', 5],['BD Spatiale', 'presentiel',4],['Rech Biblio', 'mixte', 8], ['IA', 'presentiel', 4]])
        Q1 : renommer les colonnes respectivement avec les noms suivants : Module, Modal_Cours, Coeff
        Q2 : Afficher les informations de la df (indication : methode  .info())
        Q3 : Laquelle des colonnes peut etre converti de type Category ? Justifier votre réponse
        Q 4 : En affichant de nouveau les informations sur la DF, quelle remarque faites-vous ?

In [37]:
df = pd.DataFrame([['Math', 'en ligne', 2],['Data Processing','presentiel', 9],['Python', 'en ligne', 6], ['SGBDR', 'en ligne', 5],['BD Spatiale', 'presentiel',4],['Rech Biblio', 'mixte', 8], ['IA', 'presentiel', 4]])
df

                 0           1  2
0             Math    en ligne  2
1  Data Processing  presentiel  9
2           Python    en ligne  6
3            SGBDR    en ligne  5
4      BD Spatiale  presentiel  4
5      Rech Biblio       mixte  8
6               IA  presentiel  4

In [38]:
df.columns = ['Module', 'Modal_Cours', 'Coeff']
df

            Module Modal_Cours  Coeff
0             Math    en ligne      2
1  Data Processing  presentiel      9
2           Python    en ligne      6
3            SGBDR    en ligne      5
4      BD Spatiale  presentiel      4
5      Rech Biblio       mixte      8
6               IA  presentiel      4

In [39]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Module       7 non-null      object
 1   Modal_Cours  7 non-null      object
 2   Coeff        7 non-null      int64
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

In [31]:
df = df["Module"].astype("category")
df

0               Math
1    Data Processing
2             Python
3              SGBDR
4        BD Spatiale
5        Rech Biblio
6                 IA
Name: Module, dtype: category
Categories (7, object): ['BD Spatiale', 'Data Processing', 'IA', 'Math', 'Python', 'Rech Biblio', 'SGBDR']

In [36]:
df = df["Modal_Cours"].astype("category")
df

0      en ligne
1    presentiel
2      en ligne
3      en ligne
4    presentiel
5         mixte
6    presentiel
Name: Modal_Cours, dtype: category
Categories (3, object): ['en ligne', 'mixte', 'presentiel']

In [40]:
df = df.astype('category')
df

            Module Modal_Cours Coeff
0             Math    en ligne     2
1  Data Processing  presentiel     9
2           Python    en ligne     6
3            SGBDR    en ligne     5
4      BD Spatiale  presentiel     4
5      Rech Biblio       mixte     8
6               IA  presentiel     4

In [41]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Module       7 non-null      category
 1   Modal_Cours  7 non-null      category
 2   Coeff        7 non-null      category
dtypes: category(3)
memory usage: 857.0 bytes