<center>
<a href="https://uv.bf/" target="_parent"><img src="logo.png" alt="" width="200" height="240"/></a>
</center>

### Mini Projet – Traitement de Données avec Python - Pandas

#### Le but de cet exercice est d'extraire un sous-ensemble de données à partir d'une base de données existantes

Supposons que vous ayez besoin de réaliser une application qui prend en entrée, des noms
de lieux du Burkina Faso, avec des informations telles que la latitude/longitude.
Pour ce faire, nous décidons d'extraire ces informations à partir du server de référencement
géoname (http://www.geonames.org/). Vous allez procéder de la façon suivante :

##### 1. Exporter la base de données qui recense les informations sur le Burkina Faso
(https://download.geonames.org/export/dump/).
##### ◦ Pour ce faire, reférez-vous au Readme, décrit à la fin de la page pour identifier le code iso correspondant à celui du Burkina Faso

##### 2. Télécharger le fichier zip correspondant

##### 3. Appliquer les opérations de prétraitement et filtres nécessaires à ce fichier, pour ne garder que les colonnes correspondantes :

In [1]:
import numpy as np
import pandas as pd
path=""
data = pd.read_csv(path+"BF.txt", sep="\t", header = None)

In [2]:
print(data)

             0          1          2    3         4        5  6    7   8   \
0       2353158   Zyonguen   Zyonguen  NaN  12.36667 -0.45000  P  PPL  BF
1       2353159  Zyiliwèlè  Zyiliwele  NaN  12.38333 -2.73333  P  PPL  BF
2       2353160     Zyanko     Zyanko  NaN  12.78333 -0.41667  P  PPL  BF
3       2353161      Zouta      Zouta  NaN  13.14908 -1.28197  P  PPL  BF
4       2353162  Zourtenga  Zourtenga  NaN  12.95741 -1.28745  P  PPL  BF
...         ...        ...        ...  ...       ...      ... ..  ...  ..
11290  12358654   Koulholé   Koulhole  NaN  13.43898 -1.16817  P  PPL  BF
11291  12358655     Palboa     Palboa  NaN  11.82653  1.65093  P  PPL  BF
11292  12358656  Timambari  Timambari  NaN  11.84209  1.67023  P  PPL  BF
11293  12358657  Nagbingou  Nagbingou  NaN  13.55244 -0.46760  P  PPL  BF
11294  12358665   Niamango   Niamango  NaN   9.82967 -4.33708  P  PPL  BF

        9   10    11  12  13  14  15   16                  17          18
0      NaN  04   NaN NaN NaN   0 NaN  293  Africa/Ouagadougou  2012-06-05
1      NaN  06   NaN NaN NaN   0 NaN  277  Africa/Ouagadougou  2012-06-05
2      NaN  05   NaN NaN NaN   0 NaN  301  Africa/Ouagadougou  2012-06-05
3      NaN  05  70.0 NaN NaN   0 NaN  306  Africa/Ouagadougou  2010-07-31
4      NaN  05   NaN NaN NaN   0 NaN  290  Africa/Ouagadougou  2018-09-05
...    ...  ..   ...  ..  ..  ..  ..  ...                 ...         ...
11290  NaN  05  70.0 NaN NaN   0 NaN  304  Africa/Ouagadougou  2021-10-23
11291  NaN  08  42.0 NaN NaN   0 NaN  261  Africa/Ouagadougou  2021-10-23
11292  NaN  08  42.0 NaN NaN   0 NaN  298  Africa/Ouagadougou  2021-10-23
11293  NaN  05  64.0 NaN NaN   0 NaN  275  Africa/Ouagadougou  2021-10-23
11294  NaN  02  55.0 NaN NaN   0 NaN  299  Africa/Ouagadougou  2021-10-24

[11295 rows x 19 columns]

###### ◦ Identifiants, Noms de lieux, latitudes, longitudes

In [3]:
data1=data.iloc[:,[0,1,4,5]]
data1

              0          1         4        5
0       2353158   Zyonguen  12.36667 -0.45000
1       2353159  Zyiliwèlè  12.38333 -2.73333
2       2353160     Zyanko  12.78333 -0.41667
3       2353161      Zouta  13.14908 -1.28197
4       2353162  Zourtenga  12.95741 -1.28745
...         ...        ...       ...      ...
11290  12358654   Koulholé  13.43898 -1.16817
11291  12358655     Palboa  11.82653  1.65093
11292  12358656  Timambari  11.84209  1.67023
11293  12358657  Nagbingou  13.55244 -0.46760
11294  12358665   Niamango   9.82967 -4.33708

[11295 rows x 4 columns]

In [4]:
data1.columns = ['Identifiants', 'Noms de lieux', 'latitudes', 'longitudes']
data1

       Identifiants Noms de lieux  latitudes  longitudes
0           2353158      Zyonguen   12.36667    -0.45000
1           2353159     Zyiliwèlè   12.38333    -2.73333
2           2353160        Zyanko   12.78333    -0.41667
3           2353161         Zouta   13.14908    -1.28197
4           2353162     Zourtenga   12.95741    -1.28745
...             ...           ...        ...         ...
11290      12358654      Koulholé   13.43898    -1.16817
11291      12358655        Palboa   11.82653     1.65093
11292      12358656     Timambari   11.84209     1.67023
11293      12358657     Nagbingou   13.55244    -0.46760
11294      12358665      Niamango    9.82967    -4.33708

[11295 rows x 4 columns]

###### ◦ Renommez les avec les noms suivants : 'ID', 'location_name', 'lat', 'long'

In [5]:
data2=data1.iloc[:,[0,1,2,3]]
data2.columns = ['ID', 'location_name', 'lat', 'long']
data2

             ID location_name       lat     long
0       2353158      Zyonguen  12.36667 -0.45000
1       2353159     Zyiliwèlè  12.38333 -2.73333
2       2353160        Zyanko  12.78333 -0.41667
3       2353161         Zouta  13.14908 -1.28197
4       2353162     Zourtenga  12.95741 -1.28745
...         ...           ...       ...      ...
11290  12358654      Koulholé  13.43898 -1.16817
11291  12358655        Palboa  11.82653  1.65093
11292  12358656     Timambari  11.84209  1.67023
11293  12358657     Nagbingou  13.55244 -0.46760
11294  12358665      Niamango   9.82967 -4.33708

[11295 rows x 4 columns]

###### ◦ Sauvegarder ces données dans un fichier CSV, nommez-le burkina_location.csv

In [6]:
data2.to_csv('burkina_location.csv', index=False)

##### 4. Opérations sur le fichier CSV burkina_location.csv.

In [46]:
burkina_location=pd.read_csv('burkina_location.csv')
burkina_location.head()

        ID location_name       lat     long
0  2353158      Zyonguen  12.36667 -0.45000
1  2353159     Zyiliwèlè  12.38333 -2.73333
2  2353160        Zyanko  12.78333 -0.41667
3  2353161         Zouta  13.14908 -1.28197
4  2353162     Zourtenga  12.95741 -1.28745

In [47]:
burkina_location.set_index('ID', inplace  = True)
burkina_location

         location_name       lat     long
ID
2353158       Zyonguen  12.36667 -0.45000
2353159      Zyiliwèlè  12.38333 -2.73333
2353160         Zyanko  12.78333 -0.41667
2353161          Zouta  13.14908 -1.28197
2353162      Zourtenga  12.95741 -1.28745
...                ...       ...      ...
12358654      Koulholé  13.43898 -1.16817
12358655        Palboa  11.82653  1.65093
12358656     Timambari  11.84209  1.67023
12358657     Nagbingou  13.55244 -0.46760
12358665      Niamango   9.82967 -4.33708

[11295 rows x 3 columns]

##### ◦ Extraire les données contenant le nom 'gounghin', enregistrez-le sous le fichier gounghin.csv

In [53]:
burkina_location1  = burkina_location['location_name'].isin(['gounghin'])
burkina_location2 = burkina_location[burkina_location1]

In [54]:
burkina_location2.to_excel("mini_projet.xlsx", sheet_name='gounghin')

##### ◦ Extraire la sous-partie de la base de données (fichier burkina_location.csv), dont les premières lettres des noms de lieux sont compris entre 'A' et 'P' (ordre alphabétique).

In [56]:
burkina_location2.set_index('location_name', inplace  = True)
burkina_location2.loc[['M. ILBOUDO','M. BAZIE']]

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [67]:
req1 = burkina_location['location_name'][0]=='A'
req2 = burkina_location['location_name'][0]=='P'

burkina_location[req1 & req2]

KeyError: 0

In [59]:
letter="A"
i=0
 
while i<burkina_location.shape[0]:
    if burkina_location[0] == letter:
         print("A est présent au caractère n°", i+1)
    else:
        print("A est absent au caractère n°", i+1)
    i=i+1

KeyError: 0

In [57]:
burkina_location.shape[0]

11295

##### ◦ Identifiez respectivement, la latitude, la longitude minimale et les noms de lieux correspondants dans le fichier burkina_location.csv.

##### ◦ Quels sont les lieux dont les coordonnées sont comprises entre (lat >= 11 et lon <= 0.5)

##### Sorties Excel
##### À partir des extractions de l'étape 4 :
###### ◦ Créer un fichier Excel et nommer le : mini_projet
###### ◦ Créer une feuille dans ce fichier, du nom gounghin et enregistrer les données contenant le nom ‘gounghin’ obtenues dans 4.1
###### ◦ Créer une second feuille dans ce même fichier, du nom A_to_P et enregistrer les données de 4.2